.header {
    padding: 96px 0 76px;
}

.header__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: #212429;
}

.header__logo {
    /*display: inline-flex;*/
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}