@import '../fonts/fonts.css';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #212429;
    --color-light-blue: #4263EB;
    --color-blue: #2342C0;
    --color-light-purple: #7048E8;
    --color-purple: #5028C6;
    --color-light-grey: #ACB5BD;
    --color-light-grey-secondary: #DDE2E5;
    --color-grey: #495057;
    --color-white: #FFF;
    --color-background-grey: #F9FAFC;
    --breakpoint-sm: 375px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
}

html, body {
    height: 100%;
}

button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}
