.calendar {
    width: 100%;
    background: var(--color-white);
    border: 1px solid var(--color-light-grey);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8%;
}

.calendar__header {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.calendar__body {
    padding-bottom: 100%;
    position: relative;
}

.calendar__box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #334D6E;
}

.calendar__item_day {
    font-size: 14px;
    color: #90A0B7;
}

.calendar__item_active {
    background: var(--color-light-blue);
    color: var(--color-white);
}

.calendar__item_sub-active {
    background: rgba(160, 177, 245, 0.2);
}